Repository jak1203995/wordpress-plausible-: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:textdomain, npm run lint:php:fix

Improved: added links to every mention of "Create an API token."
  src/Admin/Settings/API.php
  src/Admin/Settings/Page.php
Due: npm run lint:textdomain, npm run lint:php:fix

Improved: don't allow browser autocompletion on text fields.
  src/Admin/Settings/API.php
Due: npm run lint:textdomain, npm run lint:php:fix

Typo.
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

Show generic error for errors outside the 4xx (client side) range.
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

Simplified code.
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

Improved: show a notice if SSL check fails when Proxy is enabled. Fixed: don't run Proxy test if the option is being disabled.
  src/Admin/Messages.php
  src/Admin/Module.php
  src/Admin/Settings/API.php
Due: npm run lint:textdomain, npm run lint:php:fix

Typo.
  src/Admin/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix

Added PHPDoc.
  src/Admin/Module.php
Due: npm run lint:textdomain, npm run lint:php:fix

Added: plausible_analytics_settings filter.
  src/Includes/Helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

Updated README: plausible_analytics_settings filter
  README.md
Due: none

Improved: cache the API token's validity for 1 day.
  src/Admin/Provisioning.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fixed: prevent directly accessing of some files.
  src/Admin/Actions.php
  src/Admin/Filters.php
  src/Admin/Module.php
  src/Admin/Provisioning.php
  src/Admin/SelfHosted.php
  src/Admin/Settings/API.php
  src/Admin/Settings/Page.php
  src/Admin/Upgrades.php
  src/Client.php
  src/Includes/Actions.php
  src/Includes/Ajax.php
  src/Includes/Compatibility.php
  src/Includes/Cron.php
  src/Includes/Filters.php
  src/Includes/Helpers.php
  src/Includes/Proxy.php
  src/Includes/Setup.php
  src/Plugin.php
  src/Uninstall.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fixed: API validation didn't show error if get_goals failed.
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

PHPDoc.
  src/Includes/Ajax.php
Due: npm run lint:textdomain, npm run lint:php:fix

Move files up from Includes folder, as it makes no sense in this file structure.
  src/Actions.php
  src/Admin/Actions.php
  src/Admin/Module.php
  src/Admin/Provisioning.php
  src/Admin/Settings/API.php
  src/Admin/Settings/Page.php
  src/Admin/Upgrades.php
  src/Ajax.php
  src/Client.php
  src/Compatibility.php
  src/Cron.php
  src/Filters.php
  src/Helpers.php
  src/Proxy.php
  src/Setup.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove unnecessary use statements.
  src/Actions.php
  src/Ajax.php
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fixed: auto re-factor sucks.
  src/Filters.php
  src/Helpers.php
  src/Plugin.php
Due: npm run lint:textdomain, npm run lint:php:fix

Updated: API client now includes Capabilities endpoint.
  README.md
  src/Client/.openapi-generator/FILES
  src/Client/README.md
  src/Client/lib/Api/DefaultApi.php
  src/Client/lib/Configuration.php
  src/Client/lib/Model/Capabilities.php
  src/Client/lib/Model/CapabilitiesFeatures.php
  src/Client/lib/Model/CustomProp.php
  src/Client/lib/Model/CustomPropCustomProp.php
  src/Client/lib/Model/CustomPropDisableRequest.php
  src/Client/lib/Model/CustomPropDisableRequestBulkDisable.php
  src/Client/lib/Model/CustomPropEnableRequest.php
  src/Client/lib/Model/CustomPropListResponse.php
  src/Client/lib/Model/Goal.php
  src/Client/lib/Model/GoalCreateRequestCustomEvent.php
  src/Client/lib/Model/GoalCreateRequestRevenue.php
  src/Client/lib/Model/GoalCustomEvent.php
  src/Client/lib/Model/GoalDeleteBulkRequest.php
  src/Client/lib/Model/GoalListResponseMeta.php
  src/Client/lib/Model/GoalRevenueAllOfGoal.php
  src/Client/lib/Model/PaginationMetadata.php
  src/Client/lib/Model/SharedLinkCreateRequest.php
  src/Client/lib/Model/SharedLinkCreateRequestSharedLink.php
  src/Client/lib/Model/SharedLinkListResponse.php
  src/Client/lib/ObjectSerializer.php
Due: npm run lint:textdomain, npm run lint:php:fix

Improved: use capabilities endpoint to validate API token.
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

Simplified code for token validation.
  src/Admin/Provisioning.php
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

Add files via upload
  .wordpress-org/banner-1544x500.jpg
  .wordpress-org/banner-772x250.jpg
  .wordpress-org/icon-256x256.png
  .wordpress-org/screenshot-1.png
  .wordpress-org/screenshot-2.png
  .wordpress-org/screenshot-3.png
  .wordpress-org/screenshot-4.png
  .wordpress-org/screenshot-5.png
Due: none

Added: new logo's.
  assets/src/images/icon-dark.png
  assets/src/images/icon-dark.svg
  assets/src/images/icon.png
  assets/src/images/icon.svg
  src/Admin/Settings/API.php
Due: npm run lint:textdomain, npm run lint:php:fix

Removed trailing comma in function call to make sure PHP 7.2 and lower are supported.
  src/Admin/Settings/API.php
Due: npm run lint:textdomain, npm run lint:php:fix

Required PHP version is now 7.0.
  README.md
  readme.txt
Due: none

Typo?
  README.md
Due: none

Typo
  README.md
Due: none

Typo.
  README.md
Due: none

2.0.6
  plausible-analytics.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

Fixed: typo in readme.txt and logo path.
  readme.txt
  src/Admin/Settings/API.php
Due: npm run lint:textdomain, npm run lint:php:fix

Fixed: convert slashes to HTML encoding before opening the Create API token dialog.
  assets/src/js/admin/main.js
Due: none

Raised required PHP version to 7.4 and WP version to 5.3.
  README.md
  readme.txt
Due: none

Fixed: undefined function.
  src/Helpers.php
Due: npm run lint:textdomain, npm run lint:php:fix

2.0.7
  plausible-analytics.php
  readme.txt
Due: npm run lint:textdomain, npm run lint:php:fix

removing one tag
  readme.txt
Due: none

Fixed: don't attempt to validate API token if self_hosted_domain is entered.
  src/Ajax.php
Due: npm run lint:textdomain, npm run lint:php:fix

Improved: check if $capabilities is an instanceof Capabilities Model, before attempting to getFeatures() from it.
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

Improved: check if $capabilities is an instanceof Capabilities Model, before attempting to getDataDomain() from it.
  src/Client.php
Due: npm run lint:textdomain, npm run lint:php:fix

Remove linting for JSON files.
  .lintstagedrc.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.json
  npm run lint:textdomain: any of: *.php
  npm run lint:php:fix: any of: *.php
